/**
 * VARS
 */

$brand-color: #b6dccb;
$red: rgb(240,0,0);
$green: rgb(0,140,0);
$orange: rgb(240,120,0);
$spacing-unit: 1rem;
$half-spacing-unit: $spacing-unit * .5;
$quarter-spacing-unit : $spacing-unit * .25;
$double-spacing-unit: $spacing-unit * 2;

/**
 * MIXINS
 */

@mixin margin-right() {
    &:not(:last-child) {
        margin-right: $spacing-unit;
    }
}

/**
 * BASIC LAYOUT
 */

*, *:before, *:after {
    box-sizing: border-box;
}

* {
    margin-top: 0;
    margin-bottom: $spacing-unit;
}

body {
    background: $brand-color;
}

label {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    color: #000;
    text-decoration: none;
}

[data-hidden="true"] {
    display: none;
}

.wrapper {
    max-width: 1260px;
    margin: 0 auto;
    padding: $spacing-unit;
    background: darken($brand-color, 10%);
}

.media {
    &__image img {
        width: 100%;
    }
    
    &__body {
        padding: $spacing-unit;
        
        &__head {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        &__link {
            span {
                text-decoration: underline;
            }
            
            &:before {
                content: '>';
                text-decoration: none;
            }
        }
    }
}

/**
 * HEADER AND NAVIGATION
 */

.masthead {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    .logo {
        margin-right: $spacing-unit;
    }
    
    .main-nav {
        a:hover,
        a:focus,
        a:active,
        a.active {
            text-decoration: underline;
        }
        
        ul {
            padding: 0;
        }
        
        li {
            display: inline-block;
            list-style: none;
            @include margin-right;
        }
    }
}

/**
 * PRODUCT FILTERS
 */

.product-filters {
    & > * {
        display: block;
        width: 100%;
        
        @media all and (min-width: 28em) {
            display: inline-block;
            width: auto;
        }
    }
}

.pill {
    padding: $half-spacing-unit $spacing-unit;
    border-radius: $spacing-unit;
    background: #666;
    color: #fff;
    @include margin-right;
    
    &--small {
        font-size: .75em;
        padding: $quarter-spacing-unit $half-spacing-unit;
    }
    
    &--red {
        background: $red;
    }
    
    &--green {
        background: $green;
    }
    
    &--orange {
        background: $orange;
    }
}


/**
 * PRODUCT CARDS
 */

.product-cards {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$spacing-unit;
    
    .media {
        background: #fff;
        margin-bottom: $spacing-unit;
        @include margin-right;
        
        @media all and (min-width: 35em) {
            width: calc(50% - #{$spacing-unit});
        }
        
        @media all and (min-width: 50em) {
            width: calc(33.333% - #{$spacing-unit});
        }
        
        @media all and (min-width: 75em) {
            width: calc(25% - #{$spacing-unit});
        }
    }
}